.navbar{
  display:flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color:
  white;

  .brand{
    align-self:
    center;
    margin-left: 30px;
    font-size: 35px;
  }
  .items{
    margin-right: 30px;
    display: flex;
    li{
      margin: 0 8px;
      list-style: none;

      a{
        color: white;
        padding: 8px;
        font-size: 18px;
        text-decoration: none;
    
        &:hover{
          border-radius: 5px; background-color: lighten(blue, 30%); 
        }
      }
    }
  }
}
