.item-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-count {
    align-self: center;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    input {
      width: 60%;
      border-radius: 8px;
      outline: none;
      font-size: 18px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
    }
  }
    .submit {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
}
